html body {
    background: url(../../image/amari.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.fondo {
    /*Probar*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.cargar {
    display: flex;
    justify-content: center;
    align-items: center;
}
