.fondo {
    background: url(../../image/amari.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /*Probar*/
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
